<%= layout('layouts/boilerplate') %>

    <head>

        <link rel="stylesheet" href="stylesheets/nicepage.css" media="screen">
        <link rel="stylesheet" href="stylesheets/events.css" media="screen">
        <script class="u-script" type="text/javascript" src="scripts/nicepage.js" defer=""></script>
        <meta name="generator" content="Nicepage 3.7.2, nicepage.com">
        <link id="u-theme-google-font" rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    </head>

    <div class="main-container">
        <section class="u-align-center u-clearfix u-section-1" id="carousel_ae3c">
            <div
                class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div class="u-size-30">
                                <div class="u-layout-col">
                                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1"
                                        src="">
                                        <div class="u-container-layout u-container-layout-1" src="">
                                            <img class="u-expand-resize u-expanded-width u-image u-image-1"
                                                src="/assets/photo2.jpg">
                                        </div>
                                    </div>
                                    <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-2"
                                        src="">
                                        <img class="u-expand-resize u-expanded-width u-image u-image-1"
                                            src="/assets/football-goalkeeper.jpg">
                                        <div class="u-container-layout u-container-layout-2" src=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-30 overlf">
                                <div class="u-layout-row overfl">
                                    <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3 overfl"
                                        src="">
                                        <div class="u-container-layout u-valign-top-xs u-container-layout-3 overfl"
                                            src="">
                                            <img class="u-expand-resize u-expanded-width u-image u-image-3"
                                                data-image-width="1600" data-image-height="1067"
                                                src="/assets/photo3.jpg">
                                            <div
                                                class="u-align-center u-black u-container-style u-group u-group-1 overfl">
                                                <div
                                                    class="u-container-layout u-valign-middle u-container-layout-4 overfl">
                                                    <h2 class="u-text u-text-1">EVENTS</h2>
                                                    <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet,
                                                        consectetur adipiscing elit
                                                        nullam nunc justo sagittis suscipit ultrices.</p>
                                                    <a
                                                        class="u-active-white u-border-2 u-btn u-button-style u-hover-white u-none u-text-active-black u-text-body-alt-color u-text-hover-black u-btn-1 borderColor toScroll"><span
                                                            class="u-icon "></span>&nbsp;learn
                                                        more&nbsp;&nbsp;<span class="u-icon"><svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                                xml:space="preserve" class="u-svg-content"
                                                                viewBox="0 0 491.996 491.996" x="0px" y="0px"
                                                                style="width: 1em; height: 1em;">
                                                                <g>
                                                                    <g>
                                                                        <path
                                                                            d="M484.132,124.986l-16.116-16.228c-5.072-5.068-11.82-7.86-19.032-7.86c-7.208,0-13.964,2.792-19.036,7.86l-183.84,183.848    L62.056,108.554c-5.064-5.068-11.82-7.856-19.028-7.856s-13.968,2.788-19.036,7.856l-16.12,16.128    c-10.496,10.488-10.496,27.572,0,38.06l219.136,219.924c5.064,5.064,11.812,8.632,19.084,8.632h0.084    c7.212,0,13.96-3.572,19.024-8.632l218.932-219.328c5.072-5.064,7.856-12.016,7.864-19.224    C491.996,136.902,489.204,130.046,484.132,124.986z">
                                                                        </path>
                                                                    </g>
                                                                </g>
                                                            </svg><img></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="u-clearfix u-custom-color-5 u-section-2" id="sec-78a1">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-col">
                            <div class="u-size-30 scrolled">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1"
                                        src="" data-image-width="1080" data-image-height="1080">
                                        <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                                    </div>
                                    <div
                                        class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                                            <h2 class="u-text u-text-1">Football Festival</h2>
                                            <p class="u-text u-text-2">Sample text. Click to select the text box. Click
                                                again or double click to
                                                start editing the text.</p>
                                            <a href="/event-page"
                                                class="u-btn u-btn-rectangle u-button-style u-btn-1">learn
                                                more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="u-size-30">
                                <div class="u-layout-row ">
                                    <div
                                        class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3 u-right">
                                        <div class="u-container-layout u-valign-middle u-container-layout-3">
                                            <h2 class="u-text u-text-3">Sample Headline</h2>
                                            <p class="u-text u-text-4">Sample text. Click to select the text box. Click
                                                again or double click to
                                                start editing the text.</p>
                                            <a href="" class="u-btn u-btn-rectangle u-button-style u-btn-1">learn
                                                more</a>
                                        </div>
                                    </div>
                                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2"
                                        src="" data-image-width="1080" data-image-height="1080">
                                        <div class="u-container-layout u-valign-middle u-container-layout-4"></div>
                                    </div>
                                    <div
                                        class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3 u-right invisible">
                                        <div class="u-container-layout u-valign-middle u-container-layout-3">
                                            <h2 class="u-text u-text-3">Sample Headline</h2>
                                            <p class="u-text u-text-4">Sample text. Click to select the text box. Click
                                                again or double click to
                                                start editing the text.</p>
                                            <a href="" class="u-btn u-btn-rectangle u-button-style u-btn-1">learn
                                                more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="u-size-30">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-3"
                                        src="" data-image-width="1080" data-image-height="1080">
                                        <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                                    </div>
                                    <div
                                        class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                                            <h2 class="u-text u-text-1">Sample Headline</h2>
                                            <p class="u-text u-text-2">Sample text. Click to select the text box. Click
                                                again or double click to
                                                start editing the text.</p>
                                            <a href="" class="u-btn u-btn-rectangle u-button-style u-btn-1">learn
                                                more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <script src="/scripts/scroll.js"></script>