<%= layout('layouts/boilerplate') %>




    <head>
        <link rel="stylesheet" href="stylesheets/nicepage.css" media="screen">
        <link rel="stylesheet" href="stylesheets/event-page.css" media="screen">
        <script class="u-script" type="text/javascript" src="scripts/nicepage.js" defer=""></script>
        <link id="u-theme-google-font" rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
        <!-- <script src="scripts/event-page.js"></script> -->
        <script src="https://js.stripe.com/v3/"></script>


    </head>
    <script src="https://js.stripe.com/v3/"></script>
    <section class="section-1">
        <div class="container-sec-1">
            <div class="text-container">
                <div class="text">
                    <h1>Summer Football Festival</h1>
                    <p>Please start eating before 3pm !!!! <br>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Est
                        dolores sequi, amet, fuga aliquid reiciendis maxime saepe qui tempore quisquam dignissimos porro
                        reprehenderit at?</p>
                </div>

            </div>
            <div class="mybtn"><button>Register Now!</button></div>

        </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-parallax u-section-2" id="sec-d85b" data-image-width="1980"
        data-image-height="1367">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
                <div class="embed-responsive embed-responsive-1">
                    <iframe width="760" height="315" src="https://www.youtube.com/embed/bMrZ-LaOqAY?autoplay=1&mute=1"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-2 u-section-3" id="sec-b465">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="fr-view u-clearfix u-rich-text u-text u-text-1">

                <h4 style="text-align: left;">What We Do</h4>
                <!-- <p style="text-align: left;">
                    <span style="font-style: italic;">Euismod in pellentesque massa placerat. Risus quis varius quam
                        quisque.
                        Fermentum leo vel orci porta non pulvinar neque. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Ex eaque voluptatibus nam ipsam quis saepe minus beatae at, nobis commodi
                        tenetur fugiat repudiandae optio cum perferendis explicabo sunt necessitatibus
                        soluta.&nbsp;</span>
                </p> -->
                <p style="text-align: left;">
                    <span style="line-height: 2.0;">Sample text. Click to select the text box. Click again or double
                        click to
                        start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu
                        vitae
                        elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae
                        aliquet nec
                        ullamcorper sit amet risus nullam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Cupiditate exercitationem, dolor amet rem suscipit nesciunt dolores laudantium provident unde
                        obcaecati ratione harum consequuntur et assumenda, tempora velit eligendi est
                        pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, minus architecto
                        accusantium, explicabo aliquid deleniti illo quibusdam minima, labore illum voluptatum
                        recusandae dolore harum! Ducimus alias quibusdam aut sunt cumque!&nbsp;</span>
                </p>
            </div>
            <!-- <a href="#"
                class="u-btn u-btn-round u-button-style u-hover-palette-4-base u-palette-5-dark-3 u-radius-6 u-btn-1">
                Get registered now!</a> -->
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-4" id="sec-314d">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h1 class="u-text u-text-1">Do you want to take part ? </h1>
            <p class="u-text u-text-2">We’re a small creative design studio based in New York, working with adventurous
                clients and providing Creative Concept, Branding, Graphic Design, Art Direction and Digital
                Communication
                services.</p>
        </div>
    </section>




    <!-- <button class="checkout-button"
        style="width:200px;background-color:rgb(125, 125, 255); padding:20px;margin-top:200px;">20$</button>
    <button class="checkout-button"
        style="width:200px;background-color:rgb(125, 125, 255); padding:20px;margin-top:200px;">50$</button> -->








    <!-- Pricing table -->
    <section class="u-align-center u-clearfix u-image u-section-5" id="sec-0349" data-image-width="1280"
        data-image-height="706">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-gutter-68 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div
                            class="u-align-center u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-gradient u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h5 class="u-text u-text-1">1 Person</h5>
                                <h3 class="u-text u-text-2">20&#163;</h3>
                                <p class="u-text u-text-3">1 Player<br>
                                </p>
                                <a href=""
                                    class="u-btn u-button-style u-hover-palette-5-dark-3 u-palette-3-light-1 u-btn-1">Order
                                    Now</a>
                            </div>
                        </div>
                        <div
                            class="u-align-center u-container-style u-gradient u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h5 class="u-text u-text-4">Whole Team</h5>
                                <h3 class="u-text u-text-5">200&#163;</h3>
                                <p class="u-text u-text-6">11 Players</p>
                                <a href=""
                                    class="u-btn u-button-style u-hover-palette-5-dark-3 u-palette-3-light-1 u-btn-2">Order
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <button id="checkout-button">Checkout</button>
    <script type="text/javascript">

    </script>






    <div style="height:100px;background-color:#111111">
    </div>

    <script src="scripts/event-page.js"></script>