<head>
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>



<nav class="navbar">
    <div class="content">
        <div class="logo">
            <a href="/home"></a>
        </div>
        <ul class="menu-list">
            <div class="icon cancel-btn">
                <i><img src="/assets/x.png" /></i>
            </div>
            <li><a href="/home">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/entertainment">Entertainment</a></li>
            <li><a href="/talent-agency">Talents</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div class="icon menu-btn">
            <i><img src="/assets/bars.png" /></i>
        </div>
    </div>
</nav>

<div class="whole-container">

    <!-- <div class="banner">
    <div class="intr">
        <h1> <span>RedRain</span> <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis minima voluptatibus, enim
                reprehenderit a distinctio eum ut! Non perferendis nostrum quisquam! Mollitia veritatis eius iusto
                tenetur laborum veniam voluptas? Cumque.</p>
        </h1>
    </div>
</div> -->