<%= layout('layouts/boilerplate') %>


    <head>
        <link rel="stylesheet" href="stylesheets/nicepage.css" media="screen">
        <link rel="stylesheet" href="stylesheets/about.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>

    <section class="u-clearfix u-image u-section-1" id="carousel_dc84" data-image-width="1125" data-image-height="1500">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div
                            class="u-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <div alt="" class="u-image u-image-1" src="" data-image-width="1106"
                                    data-image-height="1500"></div>
                            </div>
                        </div>
                        <div
                            class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h2 class="u-custom-font u-font-playfair-display u-text u-text-body-alt-color u-text-1">
                                    About Us</h2>
                                <p class="u-text u-text-2">Birthed in a Pandemic, in the midst of chaos, and
                                    uncertainty. We bring you Amor Fati.,our formula for greatness: that one wants
                                    nothing to be different, not forward, not backward, not in all eternity. Not merely
                                    bear what is necessary, still less conceal it- all idealism is mendaciousness in the
                                    face of what is necessary- but love it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-opacity u-opacity-50 u-palette-3-light-1 u-shape u-shape-rectangle u-shape-1"></div>
        </div>
    </section>