<%= layout('layouts/boilerplate') %>

<div style="height:800px; width:30%; margin-top:200px; color:white;">
    <h2><%= error.message %> </h4>
    <hr style="background-color:#f5d000">
    <p>
        <%= error.stack %> 
    </p>
</div>