<%= layout('layouts/boilerplate') %>
<head><link rel="stylesheet" href="/stylesheets/error.css"></head>




<div class="error-container">
    <div class="error-message">
        <h2><%= error.message %> </h4>
            <p>
                <%= error.stack %> 
            </p>
    </div>
</div>