<%= layout('layouts/boilerplate') %>

    <head><link rel="stylesheet" href="/stylesheets/success-cancel.css"></head>
    <div class="container">
        <div class="card">
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                <i class="xmark" style="color:rgb(255, 43, 43);">✕</i>
            </div>
            <h1 style="color:rgb(255, 43, 43);">Transaction <br> Failed</h1>
            <p>Please try again</p>
            <a href="/home"><button>Go back</button></a>
        </div>
    </div>