<%= layout('layouts/boilerplate') %>

    <head>
        <link rel="stylesheet" href="stylesheets/home.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>


    <!-- Carousel -->
    <div class="slider">
        <div class="slide current">
            <div class="content">
                <h1>Events</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                    maxime, voluptatibus labore doloremque vero!
                </p>
                <div class="button">
                    <a href="/events" class="btn">Learn more</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h1>Entertainment</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                    maxime, voluptatibus labore doloremque vero!
                </p>
                <div class="button">
                    <a href="/entertainment" class="btn">Learn more</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h1>Education</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                    maxime, voluptatibus labore doloremque vero!
                </p>
                <div class="button">
                    <a href="/education" class="btn">Learn more</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h1>Talent agency</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                    maxime, voluptatibus labore doloremque vero!
                </p>
                <div class="button">
                    <a href="/talent-agency" class="btn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <!-- <button id="prev"><i class="fas fa-arrow-left"></i></button> -->
        <button id="prev"><i><img src="/assets/forward-left.png" alt=""></i></button>
        <button id="next"><i><img src="/assets/forward-right.png" alt=""></i></button>
        <!-- <button id="next"><i class="fas fa-arrow-right"></i></button> -->

    </div>

    <div class="intro-wrapper">
        <div class="introduction">

            <div class="text">
                <h1>Welcome modasuckas</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad odio exercitationem molestias. Quo, iusto
                    omnis quae libero pariatur tempore amet atque excepturi unde minus soluta totam aliquid iure veniam
                    dignissimos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat iure a et ipsum
                    quisquam sint adipisci ipsa corrupti. Consequuntur deserunt minus at tempora obcaecati officiis
                    aspernatur explicabo sequi animi perspiciatis.</p>
            </div>
            <div class="video-wrapper">

                <video controls autoplay muted loop>
                    <source src="/redrain-googlechromedlt.mp4" type="video/mp4">
                </video>

            </div>
        </div>

    </div>
    <!-- Our Services -->
    <div class="home-wrapper">
        <h1>Our Services</h1>
        <div class="services-layout">
            <div class="first-row">

                <div class="blog-card">
                    <div class="meta">
                        <div class="photo" style="background-image: url(/assets/football-goalkeeper.jpg)">
                        </div>
                        <ul class="details"></ul>
                    </div>
                    <div class="description">
                        <h1>Events</h1>
                        <h2>Opening a door to the future</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto
                            obcaecati!</p>
                        <p class="read-more">
                            <a href="/events">Read More</a>
                        </p>
                    </div>
                </div>

                <div class="blog-card">
                    <div class="meta">
                        <div class="photo" style="background-image: url(/assets/education.jpg)">
                        </div>
                        <ul class="details"></ul>
                    </div>
                    <div class="description">
                        <h1>Education</h1>
                        <h2>Opening a door to the future</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto
                            obcaecati
                            enim
                            dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>

            </div>

            <div class="second-row">

                <div class="blog-card">
                    <div class="meta">
                        <div class="photo" style="background-image: url(/assets/vibing.jpg)">
                        </div>
                        <ul class="details"></ul>
                    </div>
                    <div class="description">
                        <h1>Entertainment</h1>
                        <h2>Opening a door to the future</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto
                            obcaecati
                            enim
                            dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>

                <div class="blog-card">
                    <div class="meta">
                        <div class="photo" style="background-image: url(/assets/photoshoot-talent-agency.jpg)">
                        </div>
                        <ul class="details"></ul>
                    </div>
                    <div class="description">
                        <h1>Talent Agency</h1>
                        <h2>Opening a door to the future</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto
                            obcaecati
                            enim
                            dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>

            </div>



        </div>
    </div>