
.margin-top{
    margin-top:102px;
}

 .u-section-1 {
    background-image: url("/assets/photoshoot-talent-agency.jpg");
    background-position: 50% 50%;
    margin-bottom:50px;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }
  
  .u-section-1 .u-list-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 555px;
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    grid-template-rows: auto;
    grid-gap: 20px 20px;
    height: auto;
    width: 1130px;
  }
  
  .u-section-1 .u-list-item-1 {
    background-image: linear-gradient(rgba(249,231,155,0.83), rgba(249,231,155,0.83));
    box-shadow: 7px 8px 17px 1px rgba(0,0,0,0.8);
    animation-duration: 750ms;
    max-height:500px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-1 {
    height: 213px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    animation-duration: 1000ms;
  }
  
  .u-section-1 .u-text-1 {
    margin: 21px 76px 0 0;
  }
  
  .u-section-1 .u-line-1 {
    transform-origin: left center 0px;
    margin: 29px auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 20px auto 0 0;
  }
  
  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    border-style: none;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-list-item-2 {
    background-image: linear-gradient(rgba(249,231,155,0.83), rgba(249,231,155,0.83));
    box-shadow: 7px 8px 17px 1px rgba(0,0,0,0.8);
    animation-duration: 750ms;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-2 {
    height: 213px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    animation-duration: 1000ms;
  }
  
  .u-section-1 .u-text-3 {
    margin: 21px 76px 0 0;
  }
  
  .u-section-1 .u-line-2 {
    transform-origin: left center 0px;
    margin: 29px auto 0 0;
  }
  
  .u-section-1 .u-text-4 {
    margin: 20px auto 0 0;
  }
  
  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    border-style: none;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-list-item-3 {
    background-image: linear-gradient(rgba(249,231,155,0.83), rgba(249,231,155,0.83));
    box-shadow: 7px 8px 17px 1px rgba(0,0,0,0.8);
    animation-duration: 750ms;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-3 {
    height: 213px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    animation-duration: 1000ms;
  }
  
  .u-section-1 .u-text-5 {
    margin: 21px 76px 0 0;
  }
  
  .u-section-1 .u-line-3 {
    transform-origin: left center 0px;
    margin: 29px auto 0 0;
  }
  
  .u-section-1 .u-text-6 {
    margin: 20px auto 0 0;
  }
  
  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    border-style: none;
    margin: 20px auto 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 342px;
    }
  
    .u-section-1 .u-list-1 {
      min-height: 309px;
      grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
      width: 940px;
    }
  
    .u-section-1 .u-image-1 {
      height: 171px;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-line-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-btn-1 {
      width: 99px;
      height: 38px;
    }
  
    .u-section-1 .u-image-2 {
      height: 171px;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-1 .u-line-2 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-btn-2 {
      width: 99px;
      height: 38px;
      padding: 5px 0;
    }
  
    .u-section-1 .u-image-3 {
      height: 171px;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: 0;
    }
  
    .u-section-1 .u-line-3 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-btn-3 {
      width: 99px;
      height: 38px;
      padding: 5px 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 744px;
    }
  
    .u-section-1 .u-list-1 {
      min-height: 711px;
      grid-template-columns: repeat(2, calc(50% - 9.999975px));
      width: 720px;
    }
  
    .u-section-1 .u-image-1 {
      height: 203px;
      margin-left: initial;
    }
  
    .u-section-1 .u-image-2 {
      height: 203px;
      margin-left: initial;
    }
  
    .u-section-1 .u-image-3 {
      height: 203px;
      margin-left: initial;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-list-1 {
      min-height: 1599px;
      grid-template-columns: 100%;
      width: 540px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-image-1 {
      height: 352px;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: auto;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-top: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-image-2 {
      height: 352px;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: auto;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-top: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-image-3 {
      height: 352px;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-5 {
      margin-right: auto;
    }
  }
  
  @media (max-width: 575px) {
    .main-container{
      margin-top:72px;
    }

    .u-section-1 .u-list-1 {
      min-height: 1007px;
      width: 340px;
    }
  
    .u-section-1 .u-image-1 {
      height: 217px;
      margin-left: initial;
    }
  
    .u-section-1 .u-image-2 {
      height: 217px;
      margin-left: initial;
    }
  
    .u-section-1 .u-image-3 {
      height: 217px;
      margin-left: initial;
    }
  }

.u-btn{
    color:#ffffff;
    background-color:#ffd900;
}

  .u-btn:hover{
      background-color:#ffe657;
  }


  .addImage{
    display: flex;
    background-color:transparent; 
    border:none;
    position:absolute;
    bottom:100px;
    right:100px;
    transition: all 80ms ease-in;
  }
  .addImage i{
    border:10px solid yellow;
    color:black;
    background-color:yellow;
    border-radius: 50%;
    font-size:30px;
  }

  .addImage:hover{
    transform: scale(1.3);
    cursor: pointer;
  }

  .form1{
    width:400px;
    height:200px;
    margin:0 0 20px 20px; 
    color:rgb(34, 46, 216);
  }
  .unvisible{
    visibility: hidden;
  }