<%= layout('layouts/boilerplate') %>


    <head>
        <link rel="stylesheet" href="../stylesheets/nicepage.css" media="screen">
        <link rel="stylesheet" href="../stylesheets/entertainment.css" media="screen">
        <script class="u-script" type="text/javascript" src="scripts/nicepage.js" defer=""></script>
        <link id="u-theme-google-font" rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
        <script src="scripts/event-page.js"></script>
        <script src="https://js.stripe.com/v3/"></script>


    </head>


    <div class="wholeContainer">




        <section class="u-align-center-xs u-clearfix u-custom-color-2 u-valign-middle-xl u-section-1" src=""
            id="carousel_1abf">
            <div class="u-custom-color-1 u-expanded-width u-shape u-shape-rectangle u-shape-1"></div>
            <img class="u-image u-image-1" src="/assets/entertainment.jpg">
            <div
                class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-group u-white u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h1 class="u-custom-font u-font-montserrat u-text u-text-black u-title u-text-1">Entertainment</h1>
                    <p class="u-large-text u-text u-text-variant u-text-2">Duis aute irure dolor in reprehenderit in
                        voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.</p>
                    <a href="#"
                        class="u-btn u-button-style u-custom-font u-font-montserrat u-hover-custom-color-1 u-btn-1">learn
                        more</a>
                </div>
            </div>
        </section>


        <section class="u-clearfix u-section-2" id="sec-0d12">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                                <div class="u-container-layout u-container-layout-1">
                                    <h3 class="u-align-left u-custom-font u-font-montserrat u-text u-text-1">Lorem ipsum
                                        dolor sit amet, consectetur adipisicing elit. Quos incidunt voluptatum.</h3>
                                    <p class="u-align-justify u-text u-text-2">Faucibus in ornare quam viverra. Congue
                                        eu consequat ac felis
                                        donec et odio pellentesque diam. Leo duis ut diam quam nulla porttitor massa id.
                                        Ut lectus arcu
                                        bibendum at varius vel pharetra vel turpis. A condimentum vitae sapien
                                        pellentesque habitant morbi.
                                        Eget nunc lobortis mattis aliquam faucibus purus in massa tempor.&nbsp;</p>
                                </div>
                            </div>
                            <div class="u-align-justify u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                                    <div class="u-custom-color-1 u-shape u-shape-circle u-shape-1"></div>
                                    <p class="u-text u-text-3">Tempus quam pellentesque nec nam aliquam sem et. Mauris a
                                        diam maecenas sed.
                                        Bibendum ut tristique et egestas quis. Lorem ipsum dolor sit amet consectetur
                                        adipiscing elit.
                                        Ultrices dui sapien eget mi proin sed libero enim sed.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="u-border-2 u-border-grey-80 u-clearfix u-grey-80 u-section-4" id="sec-079c">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                <div class="u-list u-repeater u-list-1">
                    <div class="u-container-style u-grey-60 u-list-item u-repeater-item u-list-item-3">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-3"
                                data-image-width="2000" data-image-height="1333" src="/assets/education1.jpg">
                            <h3 class="u-text u-text-5">Sample Headline</h3>
                            <div
                                class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-3">
                            </div>
                            <p class="u-text u-text-6">Sample text. Click to select the text box. Click again or double
                                click to start
                                editing the text.</p>
                            <a href="" class="mybtn">learn
                                more</a>
                        </div>
                    </div>
                    <div class="u-container-style u-grey-60 u-list-item u-repeater-item u-list-item-3">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-3"
                                data-image-width="2000" data-image-height="1333" src="/assets/education2.jpg">
                            <h3 class="u-text u-text-5">Sample Headline</h3>
                            <div
                                class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-3">
                            </div>
                            <p class="u-text u-text-6">Sample text. Click to select the text box. Click again or double
                                click to start
                                editing the text.</p>
                            <a href="" class="mybtn">learn
                                more</a>
                        </div>
                    </div>
                    <div class="u-container-style u-grey-60 u-list-item u-repeater-item u-list-item-3">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-3"
                                data-image-width="2000" data-image-height="1333" src="/assets/education3.jpg">
                            <h3 class="u-text u-text-5">Sample Headline</h3>
                            <div
                                class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-3">
                            </div>
                            <p class="u-text u-text-6">Sample text. Click to select the text box. Click again or double
                                click to start
                                editing the text.</p>
                            <a href="" class="mybtn">learn
                                more</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <form action="">
            <input type="file" name='image'>
            <button class="submit"></button>
        </form>


        <!-- <section
            class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-custom-color-1 u-section-3"
            id="sec-6861">
            <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
                <div class="u-expanded-width-xs u-gradient u-shape u-shape-rectangle u-shape-1"></div>
                <img class="u-image u-image-1" src="/assets/photoshoot-talent-agency.jpg" data-image-width="1350"
                    data-image-height="900">
                <div class="u-custom-color-3 u-preserve-proportions u-shape u-shape-circle u-shape-2"></div>
                <div class="u-align-left u-container-style u-group u-white u-group-1">
                    <div class="u-container-layout u-container-layout-1">
                        <h1 class="u-custom-font u-font-montserrat u-text u-text-black u-text-1">Graphic design</h1>
                        <p class="u-text u-text-2">Elit ut aliquam purus sit amet luctus venenatis. Ridiculus mus mauris
                            vitae
                            ultricies leo integer malesuada. Massa enim nec dui nunc mattis enim. Sagittis vitae et leo
                            duis ut. Lacus
                            suspendisse faucibus interdum.</p>
                        <a href="#"
                            class="u-btn u-button-style u-custom-font u-font-montserrat u-hover-custom-color-1 u-btn-1">learn
                            more</a>
                    </div>
                </div>
            </div>
        </section> -->




    </div>